<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net452" />
  <package id="htmldiff.net" version="1.1" targetFramework="net452" />
  <package id="MongoDB.Bson" version="2.1.1" targetFramework="net452" />
  <package id="MongoDB.Driver" version="2.1.1" targetFramework="net452" />
  <package id="MongoDB.Driver.Core" version="2.1.1" targetFramework="net452" />
  <package id="NScrape" version="0.1.0.0" targetFramework="net452" />
  <package id="ScrapySharp" version="2.2.63" targetFramework="net452" />
  <package id="Serilog" version="1.5.14" targetFramework="net452" />
  <package id="Serilog.Sinks.Seq" version="1.5.17" targetFramework="net452" />
  <package id="Topshelf" version="3.2.0" targetFramework="net452" />
</packages>